@using CinemaOnline.Handler
@using BELibrary.Utils
@{
    var name = "";
    if (CookiesManage.Logined())
    {
        var user = CookiesManage.GetUser();
        var names = user.FullName.Split(' ');
        if (names.Length >= 3)
        {
            name = names[0] + " " + names[names.Length - 1];
        }
        else
        {
            name = user.FullName;
        }
    }


}
<header class="header-wrapper header-wrapper--home">
    <div class="container">
        <!-- Logo -->
        <a href="/" class="logo">
            <img alt="logo" src="~/Content/images/logo.png" />
        </a>

        <!-- Navigation -->
        <nav class="navigation">
            <a href="#" class="navigation-toggle" id="navigation-toggle">
                <span class="menu-icon">
                    <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                        <span class="lines"></span>
                    </span>
                </span>
            </a>

            <ul class="navigation-list" id="navigation">
                <li><a href="/">Trang chủ</a></li>
                <li>
                    <a href="/film">Phim</a>
                    <ul class="dropdown">
                        <li><a href="/film">Danh sách phim</a></li>
                        <li><a href="#">Phim theo thể loại</a></li>
                    </ul>
                </li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="/gallery">Thư viện</a></li>
            </ul>
        </nav>

        <!-- Auth and User Info -->
        <div class="control-panel">
            @if (CookiesManage.Logined())
            {
                <div class="user-info">
                    @*<img alt="User Avatar" class="user-avatar" src="@CookiesManage.GetUser().LinkAvata" />*@
                    <div class="user-dropdown">
                        <span>@name</span>
                        <ul>
                            <li><a href="/Account">Trang cá nhân</a></li>
                            <li><a href="/Account/Logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <a href="/Account/Login" class="btn btn-primary">Đăng nhập</a>
            }
        </div>
    </div>
</header>
