<div class="col-sm-12">
    <h2 class="page-heading">Latest news</h2>

    <div class="col-sm-4 similar-wrap col--remove">
        <div class="post post--preview post--preview--wide">
            <div class="post__image">
                <img alt='' src="~/Content/images/client-photo/post-thor.jpg">
                <div class="social social--position social--hide">
                    <span class="social__name">Share:</span>
                    <a href='#' class="social__variant social--first fa fa-facebook"></a>
                    <a href='#' class="social__variant social--second fa fa-twitter"></a>
                    <a href='#' class="social__variant social--third fa fa-vk"></a>
                </div>
            </div>
            <p class="post__date">22 October 2013 </p>
            <a href="single-page-left.html" class="post__title">"Thor: The Dark World" - World Premiere</a>
            <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
        </div>
    </div>
    <div class="col-sm-4 similar-wrap col--remove">
        <div class="post post--preview post--preview--wide">
            <div class="post__image">
                <img alt='' src="~/Content/images/client-photo/post-annual.jpg">
                <div class="social social--position social--hide">
                    <span class="social__name">Share:</span>
                    <a href='#' class="social__variant social--first fa fa-facebook"></a>
                    <a href='#' class="social__variant social--second fa fa-twitter"></a>
                    <a href='#' class="social__variant social--third fa fa-vk"></a>
                </div>
            </div>
            <p class="post__date">22 October 2013 </p>
            <a href="single-page-left.html" class="post__title">30th Annual Night Of Stars Presented By The Fashion Group International</a>
            <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
        </div>
    </div>
    <div class="col-sm-4 similar-wrap col--remove">
        <div class="post post--preview post--preview--wide">
            <div class="post__image">
                <img alt='' src="~/Content/images/client-photo/post-awards.jpg">
                <div class="social social--position social--hide">
                    <span class="social__name">Share:</span>
                    <a href='#' class="social__variant social--first fa fa-facebook"></a>
                    <a href='#' class="social__variant social--second fa fa-twitter"></a>
                    <a href='#' class="social__variant social--third fa fa-vk"></a>
                </div>
            </div>
            <p class="post__date">22 October 2013 </p>
            <a href="single-page-left.html" class="post__title">Hollywood Film Awards 2013</a>
            <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
        </div>
    </div>
</div>