<div class="col-sm-12">
    <div class="mega-select-present mega-select-top mega-select--full">
        <form action="#" method="post" novalidate="novalidate" id="formSearch">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-12">
                            <input type="text" class="form-control search-slt" placeholder="Nhập từ khóa" id="keywords">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 ">
                            <select class="form-control search-slt" id="slFilter">
                                <option value="1" selected="">Tất cả</option>
                                <option value="filmName">Tên phim</option>
                                <option value="director">Đạo diễn</option>
                                <option value="actor">Diễn viên</option>
                                <option value="country">Quốc gia</option>
                                <option value="category">Thể loại</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn btn-danger wrn-btn" id="search">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>