
<div class="sitebar">
    <div class="banner-wrap">
        <img alt="sale" src="~/Content/images/banners/sale.jpg" />
    </div>
    <div class="banner-wrap">
        <img alt="sport" src="~/Content/images/banners/sport.jpg" />
    </div>
    <div class="banner-wrap">
        <img alt="boots" src="~/Content/images/banners/boots.jpg" />
    </div>
</div>
